recursive-include vaeengine/configs *.py *.yml *.json
recursive-include vaeengine/tools *.sh *.py
recursive-exclude tests *
recursive-exclude data *
recursive-exclude docs *
recursive-exclude work_dirs *
recursive-exclude dist *
recursive-exclude build *
recursive-exclude projects *
